$padding_top_size: 50px;
@media only screen and (max-width: 600px) {
  body {
      background-color: lightblue;
      }
    }
.countries {
      padding-top: 30px;
      background-color: dark;
  }
  nav {
    ul.india_list {

      padding-top: $padding_top_size;
      list-style-type: circle;
    }

    ul.usa_list {

      padding-top: $padding_top_size;
      list-style-type: square;
    }

    ul.comparison_list {

      padding-top: $padding_top_size;
      list-style-type: circle;
    }
  }


    .hdfc {
      padding: $padding_top_size;
    }
    .ril {
      @extend .hdfc;
    }
    .tcs {
      @extend .hdfc;
    }




    .apple {
      padding: $padding_top_size;
    }
    .microsoft {
      @extend .apple;
    }
    .berkshire {
      @extend .apple;
    }

  #india_table {
    margin-top: 75px;
  }

  #usa_table {
    margin-top: $padding_top_size;
  }
  #india {
    color: green;
  }
  #usa {
    color: red;
  }
  #comparison {
    color: orange;
  }
